[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/.vim/pack/themes/start/dracula"]
	path = vim/.vim/pack/themes/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "iterm/iterm-dracula"]
	path = iterm/iterm-dracula
	url = https://github.com/dracula/iterm.git
[submodule "/Users/dbaker/.dotfiles/oh-my-zsh/.oh-my-zsh/custom/themes/powerlevel10k"]
	path = /Users/dbaker/.dotfiles/oh-my-zsh/.oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
